

<ion-grid>
  <ion-row>
     <ion-col>
      <h2>HOLA MUNDO</h2>
     </ion-col>
     <ion-col size-xs="12" size-lg="6">
      <img src="../../assets/img/Nuevo-logo-de-Only-Fans-1.jpg" >
     </ion-col>
     <ion-col size-xs="6" size-lg="12">
      <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro laudantium quaerat ab, tempore autem rerum dolor illum animi, ipsum quasi nesciunt et aliquam unde error commodi distinctio atque repellendus. Saepe sint, nesciunt exercitationem illo iusto ipsam eaque commodi reprehenderit voluptates eum perspiciatis soluta repellat! Aliquid praesentium eos suscipit hic odio.</p>
     </ion-col>
   </ion-row>
  </ion-grid>